body {
  margin: 0;
}

/* Пребили подвал */
.page {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

/* Шапка*/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  width: 100%;
  max-width: 1300px;
  min-height: 80px;
  margin: auto;
  background: #213B7E;
  flex-wrap: wrap;
}

.logo {
  display: flex;
  justify-content: flex-start;
  height: 47px;
  padding: 0 19px;
}

.container-class {
  display: flex;
  align-items: center;
  list-style-type: none;
  font-family: Roboto;
  font-weight: 400;
  font-size: 20px;
  flex-wrap: wrap;
}

.list:hover {
  background-color: #ffffff;
  color: #213B7E;
  text-decoration-line: none;
}

.list {
  padding: 38px;
  color: #ffffff;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
  width: 100%;
  height: 100%;
  max-width: 153px;
  min-height: 50px;
  color: #ffffff;
  background: #EA5D21;
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
  text-decoration: none;
  cursor: pointer;
}

/* Popup */

.login_popup {
  transform: translate(-50%, 100%);
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  z-index: 2;
  width: 100%;
  max-width: 400px;
  height: 100%;
  max-height: 380px;
  padding: 26px 28px 50px;
  border: 1px solid #213B7E;
  background: #ffffff;
  display: none;
}

.popup_form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup_close {
  margin-left: 400px;
  cursor: pointer;
}

.login_form>input {
  width: 100%;
  max-width: 500px;
  min-height: 50px;
  margin-bottom: 58px;
  border: 1px solid #808000;
}

.login_enter {
  text-align: center;
  font-family: roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: rgba(0, 0, 0, 1);
}

.login_text {
  width: 100%;
  max-width: 340px;
  height: 100%;
  min-height: 30px;
  margin: 20px 8px;
  padding: 10px;
  background: #ffffff;
  border: 1px solid #808000;
}

.popup_button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  min-height: 50px;
  border: 0;
  color: #ffffff;
  background: #ea6113;
  cursor: pointer;
  text-decoration: none;
  margin-top: 28px;
}

.active-link {
  color: #213B7E;
  background-color: #ffffff;
  text-decoration: none;
}

.show-popup {
  display: block;
}

/* Меню */

.main {
  width: 100%;
  max-width: 911px;
  margin: 20px auto;
  flex-grow: 1;
}

/* Эмблема Учимся вместе */

.emblem {
  position: relative;
  display: block;
  width: 129px;
  height: 90px;
  font-family: 'Lobster';
  font-style: normal;
  font-size: 36px;
  transform: translate(570%, -290%);
  font-weight: 400;
  line-height: 45px;
  color: #646464;
}

.heading {
  font-family: Roboto;
  font-weight: 700;
  font-size: 30px;
  color: rgba(0, 0, 0, 1);
}

.heading_2 {
  font-family: Roboto;
  font-weight: 400;
  font-size: 25px;
  color: rgba(0, 0, 0, 1);
}

.text {
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
  color: rgba(0, 0, 0, 1);
  width: 100%;
  max-width: 634px;
  height: auto;
}

.color {
  font-style: italic;
  color: #CF5510;
}

/* Подвал */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1300px;
  min-height: 60px;
  margin: 0 auto;
  box-sizing: border-box;
  background: #213B7E;
  flex-wrap: wrap;
}

.link {
  color: #FFFFFF80;
  padding: 0 2px;
}

/* Стили для страницы студенты */

.main_student {
  width: 100%;
  max-width: 1202px;
  min-height: 384px;
  margin: 0 auto;
  height: 100vh;
}

.student {
  margin: 37px 19px;
  font-family: Roboto;
  font-style: normal;
  font-size: 31px;
  color: rgba(0, 0, 0, 1);
}

.flex_student {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.foto_student {
  padding: 50px;
  width: 200px;
  height: 270px;
  background: #86c6f4;
}

.name {
  margin: 8px 0 0 0;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  color: rgba(0, 0, 0, 1);
}

/* Стили для страницы о курсе */ 
.main_cours {
  width: 100%;
  max-width: 1200px;
  flex-grow: 1;
  height: 100vh;
  margin: 0 auto;
}

.text_cours {
  margin: 0 0 15px 90px ;
  font-family: Roboto;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  text-align: left;
  padding: 0 33px;
  color: rgba(0, 0, 0, 1);
}

.cours {
  margin: 0 0 0 90px;
  padding: 33px;
}

.poster {
margin: 0 0 0 90px;
padding: 0 33px;
flex-wrap: wrap;
}

/* Стили для страницы контакты */
.main_kontakt {
  width: 100%;
  max-width: 1300px;
  flex-grow: 1;
  height: 100vh;
  margin: 0 auto;
}

.maps {
  margin: 0 auto;
  flex-wrap: wrap;
  width: 1268px;
  height: 370px;
}

.kontakt_text {
  padding: 0 0 0 218px;
  font-family: Roboto;
  font-weight: 700;
  font-size: 30px;
  color: #000000;
}

.uor_kontakt {
  margin: 0 15px 0 218px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 25px;
  color: rgba(0, 0, 0, 1);
}

.phone {
  margin: 0 10px 0 218px;
  padding: 10px 0 0 0;
  font-family: roboto;
  font-weight: 400;
  font-size: 14px;
  color: rgba(0, 0, 0, 1);
} 

/* Медиа запросы для страницы Главная */

